.first-screen{
  position: relative;
  
  .slick-arrow {
  transform: translate(0, -50%);
  &.slick-prev{
    transform: translate(0, -50%) rotate(180deg);
  }
}
  .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 42px;
}
}
.baner-item{
  padding: 163px 0 228px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.banner-title {
  max-width: 463px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.banner-subtitle {
  max-width: 345px;
  font-weight: 300;
  margin-bottom: 37px;
  font-size: 20px;
}

  .first-screen-arrows {
    position: absolute;
    max-width: 1567px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 57%;
}

